html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',arial,sans-serif;
}

div.vertical-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.engineName {
    font-size: x-large;
}

.controlName {
    color: gray;
}

.gameList {
    font-family: monospace;
}

.win {
    background-color: lightgreen;
}

.loss {
    background-color: red;
}

.draw {
    background-color: lightgray;
}

.selectedGame {
    background-color: lightblue;
}

.pendingSelection {
    background-color: lightgray;
}

div.horizontal-layout {
    display: flex;
    overflow: auto;
}

div.game-list-layout {
    overflow: auto;
    flex-grow: 0;
}

div.board-layout {
    overflow: auto;
    flex-grow: 1;
}

#fen-container {
    display: flex;
    justify-content: center;
}

#fen {
    -webkit-user-select: all;
    user-select: all;
    display: inline-block;
    border: dashed #c4c0be;
    color: #4f4d4c;
    font-size: x-small;
}

#fen:focus {
    animation: select
}
