html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
}

div.vertical-layout {
    display: flex;
    padding: 4px;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

div.header-layout > div {
    margin: 4px;
}

.engineName {
    font-size: x-large;
}

.controlName {
    color: gray;
}

.gameList {
    font-family: monospace;
}

.win {
    background-color: lightgreen;
}

.loss {
    background-color: red;
}

.draw {
    background-color: lightgray;
}

.selectedGame {
    background-color: lightblue;
}

.pendingSelection {
    background-color: lightgray;
}

div.horizontal-layout {
    display: flex;
    overflow: auto;
}

div.horizontal-layout > div {
    padding: 4px;
    margin: 4px;
    overflow: auto;
    border: 1px solid #ddd;
}

div.game-list-layout {
    flex-grow: 0;
    min-width: 6em;
}

div.game-list-layout > table{
    border-spacing: 0;
}

div.game-layout {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.game-layout > div {
    overflow: auto;
}

div.board-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#fen-container {
    display: flex;
    justify-content: center;
}

#fen {
    -webkit-user-select: all;
    user-select: all;
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #fef7f0;
    font-size: x-small;
    padding: 0.3em;
}

#fen:focus {
    animation: select
}

div.analysis-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.analysis-layout > div {
    height: 50%;
}
