html, body, .layout {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',arial,sans-serif;
}

div.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
