html, body, .layout {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',arial,sans-serif;
}

div.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.nav {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: stretch;
    line-height: 2em;
}

div.nav, .menu, .menu-content div:nth-child(even) {
    background-color: gainsboro;
}

.menu {
    user-select: none;
}

.menu-content div:nth-child(odd) {
    background-color: #e9e9e9e9;
}

div.menu-content {
    display: none;
    grid-template-columns: auto;
    align-items: stretch;
    right: 0;
    position: absolute;
    z-index: 1;
    line-height: 3em;
}

div.menu-content div {
    padding: 1em;
}

span.menu-toggle {
    font-family: monospace;
}

span#gameId {
    font-family: monospace;
}
