<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <script src="{{assetPath "/js/home.js"}}"></script>
        <script>{{.JsCode}}</script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{assetPath "/css/common.css"}}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{assetPath "/css/game.css"}}" type="text/css" media="screen" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>在线象棋对战</title>
    </head>
    <body>
        <div class="layout home-page-layout">
            <div class="nav" id="nav"></div>
            <div class="home-layout content">
              {{- if len .MyRecentGames | lt 0 -}}
              <h2>Continue on games I played:</h2>
              <table class="games-table">
                <tr><th>Game</th><th>Activity</th><th>My Color</th><th>Opponent</th><th>Moves</th><th>Next Turn</th></tr>
                {{range $item := .MyRecentGames}}
                <tr><td><a href="/game/{{$item.GameId}}">{{$item.GameId}}</a></td><td>{{$item.ActivityTimeAgo}}</td><td>{{$item.Color}}</td><td>{{if len $item.Opponent | lt 0}}<a class="player-link" href="/user/{{$item.OpponentUid}}">{{$item.Opponent}}</a>{{else}}N/A{{end}}</td><td>{{$item.Moves}}</td><td><a class="player-link" href="/user/{{$item.NextToMove.ID}}">{{$item.NextToMove.Name}}</a></td></tr>
                {{end}}
              </table>
              {{end -}}
              <h2><a href="/new">Start</a> or join a new game:</h2>
              {{- if len .WaitingGames | lt 0 -}}
              <table class="games-table">
                <tr><th>Game</th><th>Activity</th><th>By</th></tr>
                {{range $item := .WaitingGames}}
                <tr><td><a href="/game/{{$item.GameId}}">{{$item.GameId}}</a></td><td>{{$item.ActivityTimeAgo}}</td><td>{{if $item.Red}}<a class="player-link" href="/user/{{$item.Red.ID}}">{{$item.Red.Name}}</a>{{else}}<a class="player-link" href="/user/{{$item.Black.ID}}">{{$item.Black.Name}}</a>{{end}}</td></tr>
                {{end}}
              </table>
              {{- else}}No recent games.{{end -}}
              <h2>Watch a game:</h2>
              {{- if len .StartedGames | lt 0 -}}
              <table class="games-table">
                <tr><th>Game</th><th>Activity</th><th>Red</th><th>Black</th><th>Moves</th></tr>
                {{range $item := .StartedGames}}
                <tr><td><a href="/game/{{$item.GameId}}">{{$item.GameId}}</a></td><td>{{$item.ActivityTimeAgo}}</td><td><a class="player-link" href="/user/{{$item.Red.ID}}">{{$item.Red.Name}}</a></td><td><a class="player-link" href="/user/{{$item.Black.ID}}">{{$item.Black.Name}}</a></td><td>{{$item.Moves}}</td></tr>
                {{end}}
              </table>
              {{- else}}No games to watch.{{end -}}
            </div>
        </div>
    </body>
</html>
