<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <script src="{{assetPath "/js/user_profile.js"}}"></script>
        <script>{{.JsCode}}</script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{assetPath "/css/common.css"}}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{assetPath "/css/game.css"}}" type="text/css" media="screen" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>在线象棋对战 | {{.UserName}}</title>
    </head>
    <body>
        <div class="layout user-page-layout">
            <div class="nav" id="nav"></div>
            <div class="user-profile-layout">
              <h2>User Profile</h2>
              <table class="user-profile">
                <tr><td>Name</td><td><a class="player-link" href="/user/{{.UserId}}">{{.UserName}}</a></td></tr>
                <tr><td>Games played</td><td>{{.GamesPlayed}}</td></tr>
              </table>
              <h2>Recent Games</h2>
              {{- if len .RecentGames | lt 0 -}}
              <table class="user-profile">
                <tr><th>Game</th><th>Created</th><th>Color</th><th>Opponent</th><th>Moves</th><th>Status</th></tr>
                {{range $item := .RecentGames}}
                <tr><td><a href="/game/{{$item.GameId}}">{{$item.GameId}}</a></td><td>{{$item.CreatedTimeAgo}}</td><td>{{$item.Color}}</td><td>{{if len $item.Opponent | lt 0}}<a class="player-link" href="/user/{{$item.OpponentUid}}">{{$item.Opponent}}</a>{{else}}N/A{{end}}</td><td>{{$item.Moves}}</td><td><a href="/game/{{$item.GameId}}">{{$item.Status}}</a></td></tr>
                {{end}}
              </table>
              {{- else}}No recent games.{{end -}}
            </div>
        </div>
    </body>
</html>
